<!-- 
<div>
    <button mat-raised-button color="primary" (click)="showMsg()">Show</button>
    <h1 *ngIf="isCheck">welcome to this {{this.title}} development project</h1>      
</div>

<div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th> Id </th>
          <th>name</th>
          <th>brand</th>
          <th>price</th>
        </tr>
      </thead>
  </table>
</div>
<body>
    <tr *ngFor="let product of product">
        <td id="id"> {{product.id}}</td>
        <td id="name">{{product.name}}</td>
        <td id="brand">{{product.brand}}</td>
        <td id="price">{{product.price}}</td>
    </tr>
</body> -->


<div>
    <h1>Service in Angular</h1>
    <h2>{{this.name}}</h2>
</div>