.title {
    font-size: larger;
    text-align: center;
}

.one {
    color:  blue;
}

.two {
    text-align: center;
    font-size: x-large;
}

.three {
    color: brown;
    text-align: center;
    line-break: strict;
}

.four {
    font-size: 20px;
}