 <div>
    <button mat-raised-button color="primary" (click)="showMsg()">Show</button>
    <h1 *ngIf="isCheck">welcome to this {{this.title}} development project</h1>      


<div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th> Id </th>
          <th>name</th>
          <th>price</th>
        </tr>
      </thead>
  </table>
</div>
<body>
    <tr *ngFor="let product of product">
        <td id="id"> {{product.id}}</td>
        <td id="name">{{product.name}}</td>
        <td id="price">{{product.price}}</td>
    </tr>
</body> 


<div>
    <h1>Service in Angular</h1>
    <h2>{{this.productName}}</h2>
</div>

<div>
    <h1>Simple form in angular</h1>
    <form #simpleForm='ngForm' (ngSubmit)="getValues(simpleForm.value)">
        <input type="text" name="user" ngModel placeholder="enter user name"> <br/><br/>
        <input type="password" ngModel name="password" placeholder="enter user password"> <br/><br/>
        <input type="text" ngModel name="age" placeholder="enter user age"> <br/><br/>
        <input type="text" ngModel name="address" placeholder="enter user address"> <br/><br/>
        <button mat-raised-button color="primary">Submit</button>
    </form>
</div>
</div>