<!-- <div class="container">
    <button class="button-ngIf" (click)="showMessage()">Show</button><br/>
    <div *ngIf="isCheck">block has been created and my name is block</div>
</div> -->

<div class="container">
    <button mat-raised-button color="primary" class="button" (click)="showMsg()">Show</button>
    <div>
          <h1 *ngIf="isCheck">Welcome to the {{this.title}} development project</h1>
    </div>
</div>

<div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th> Id </th>
          <th>name</th>
          <th>brand</th>
          <th>price</th>
        </tr>
      </thead>
  </table>
</div>
<body>
    <tr *ngFor="let product of product">
        <td id="id"> {{product.id}}</td>
        <td id="name">{{product.name}}</td>
        <td id="brand">{{product.brand}}</td>
        <td id="price">{{product.price}}</td>
    </tr>
</body>